@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&family=IBM+Plex+Mono:wght@300&family=Montserrat:wght@800&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&family=IBM+Plex+Mono:wght@300&family=Montserrat:wght@800&family=Poiret+One&family=Roboto+Mono:wght@500&family=Russo+One&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(1, 1, 1);
  font-family: 'Montserrat', sans-serif;
}
.texter-nav-other{
  font-family: 'Poiret One', cursive;
  font-size: 24px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a:hover{
  color: rgb(128, 128, 190);
}

nav ul li a{
  text-decoration: none;
  color: white;
}
.mapboxgl-popup {
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 5px;
  color: #0d0d24;
}
#map{
    width: 100vw;
    height: 48vw;
    border-radius: 9px;
    background-color: #0d0d24;
    padding: 5px;
}

.texter{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
}
.texter-footer{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
}
.texter-header{
  font-family: 'Roboto Mono', sans-serif;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8vw 0;
}

.firstSection > div {
  width: 40%;
}

.leftSection {
  font-size: 2.5rem;
}

.rightSection img{
  width: 80%;
}

.purple {
  color: rgb(170, 107, 228);
}
#element {
  color: rgb(170, 107, 228);
}

.secondSection {
  width: 80vw;
  margin: auto;
}

main hr {
  height: 1.2px;
  background-color: #9c97f1;
  border: 0;
  margin: 40px 84px;
}